:root{
    --font-var-for-h: 'Nuosu SIL', serif;
    --font-additiona: 'Lato', sans-serif;
    --bg-color:  rgb(254, 245, 233);
    --brown-color:  rgba(213, 185, 144, 0.896);
    --dark-color:  rgba(126, 109, 83, 0.896);
}

body{
    font-family: var(--font-additiona);
}

.header
{
    background-color: var(--bg-color);
}

.name{
    font-family: var(--font-var-for-h);
    font-size: 60px;
}


.p, .p2{
    font-size: 30px; 
}

.p2{
    color: rgb(82, 82, 82);
}

.myButton{
    border-radius: 30px;
    background-color: var(--brown-color);
    border: none;
    color: white;
    font-size: 20px;
}

.myButton:hover{
    background-color: var(--bg-color);
    color: var(--brown-color);
    border: 1px solid var(--brown-color);
}

h3{
    background-color: var(--bg-color);
    border-radius: 30px;
    padding: 5px;
}

@media screen and (min-width: 1000px) {
    .info{
        padding-top: 20%;
        text-align: center;
    }
}

.forButton{
    background-color: white;
    color: var(--brown-color);
    border: 1px solid var(--brown-color);
    border-radius: 30px;
    font-size: 20px;
    padding: 5px;
}



.forButton:hover{
    background-color: var(--brown-color);
    border: none;
    color: white;
}

.about-content{
    text-align: center;
}

.forAbout {
    font-family: var(--font-var-for-h);
    padding: 160px 20px;
}


.mypic{
    display: block;
    margin: 0 auto;
    width: 400px;
    border-radius: 30px;
}

p{
    font-size: 17px;
}

.work-section{
    padding-top: 160px;
    padding-bottom: 30px;
    font-family: var(--font-var-for-h);
}

.workPic{
    border-radius: 30px;
    width: 400px;
    height: 400px;
}

.navbar{
    font-size: 25px;
    background-color: var(--bg-color);
    font-family: var(--font-var-for-h);
}

.email{
    text-decoration: none;
    color: var(--brown-color);
    transition: all 200ms ease-in;
}

.email:hover{
    color: var(--dark-color);
    
}

.fa-brands{
    color: var(--brown-color);
    text-decoration: none;
  font-size: 30px;
    margin:20px;
    transition: all 200ms ease-in;
}

.fa-brands:hover{
    color: var(--dark-color);
}

.divv{
    font-family: var(--font-var-for-h);
    background-color: var(--bg-color);
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
    border-radius: 30px;
    padding-left: 5%;
    padding-right: 5%;
}